@model IEnumerable<Uniwear.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Uniwear Items";
}

    <h2 class="fw-bold">ALL PRODUCTS</h2>

<div class="container-fluid mt-3">

    <!-- CATEGORY BAR -->
    <div class="d-flex flex-nowrap overflow-auto gap-2 mt-3 pb-2">

        <button class="btn btn-dark btn-sm category-btn" data-id="0">VIEW ALL</button>

        @foreach (var cat in ViewBag.Categories)
        {
            <button class="btn btn-outline-dark btn-sm category-btn"
                    data-id="@cat.Id">
                @cat.Name.ToUpper()
            </button>
        }

    </div>

    <!-- SORT + FILTER -->
    <div class="d-flex justify-content-between align-items-center mt-3 border-top pt-3">

        <!-- SORT -->
        <div>
            <span class="fw-semibold">SORT BY</span>

            <select id="sortOption" class="form-select d-inline w-auto ms-2">
                <option value="">Default</option>
                <option value="low">Price: Low to High</option>
                <option value="high">Price: High to Low</option>
            </select>
        </div>

        <!-- FILTER BUTTON -->
        <button class="btn btn-outline-dark btn-sm"
                data-bs-toggle="offcanvas"
                data-bs-target="#filterPanel">
            FILTER ⚙️
        </button>

    </div>

</div>


@if (User.IsInRole("Admin"))
{
    <a asp-action="Create"
    asp-controller="Product"
    class="btn btn-primary mb-3">
        Add New Item
    </a>
}

<div class="row">
    <div class="container-fluid mt-3">
        <div id="productContainer">
            @Html.Partial("_ProductListPartial", Model)
        </div>
    </div>
</div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="filterPanel">

        <div class="offcanvas-header">
            <h5>Filters</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>

        <div class="offcanvas-body">

            <!-- CATEGORY CHECKBOX -->
            <h6>Category</h6>

            @foreach (var cat in ViewBag.Categories)
            {
                <div class="form-check">
                    <input class="form-check-input category-filter"
                           type="checkbox"
                           value="@cat.Id">
                    <label class="form-check-label">@cat.Name</label>
                </div>
            }

            <hr />

            <!-- PRICE -->
            <h6>Price</h6>

            <input type="range" id="priceRange" min="0" max="5000" value="5000" class="form-range">
            <p>Up to ₹<span id="priceValue">5000</span></p>

            <button id="applyFilter" class="btn btn-dark w-100 mt-3">
                Apply Filters
            </button>

        </div>
    </div>


